* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_intro {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  height: 30%;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.inner_intro button {
  width: 70%;
  height: 45px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: white;
  cursor: pointer;
  align-self: center;
  transition: 0.3s;
}

.inner_intro button:hover {
  background: #0ea5e9;
}
